@use "./palette";
@use "./typography";
@use "./mixins";


body {
  background-image: url("https://i.imgur.com/GgJ7r1h.png");
}

//Home Page
body > h1 {
    @include typography.home-body(200px);
}
body > h2 {
  @include typography.home-body(50px);
}

// Top Navigation Bar
nav {
    margin: 30px;
    box-shadow: 5px 5px palette.$light-purple;
    border-radius: 10px;
    }
    
    .nav-bar > ul {
    list-style-type:none;
    border: 3px solid palette.$deep-purple;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
    .nav-bar > ul > li > a {
    text-decoration: none;
    font-family: typography.$header-cardfont;
    font-size: 20px;
    font-weight: bold;
    color:black;    
    }
    
    .nav-bar > ul > li > a:hover {
    color: palette.$deep-purple;
    text-shadow: 3px 3px 5px palette.$light-purple;
    }
    

    // Contact Form
.text-type {
    font-family: typography.$header-cardfont;
    font-weight: bolder;
    padding:8px;
    margin-left:10px;
    
  }

  form > fieldset {
    border:20px solid palette.$deep-purple;
    border-radius: 10px;
    margin-left:200px;
    margin-right:200px;
    box-shadow: 5px 5px rgb(253, 137, 253);
    
  }
  .btn {
    border: 2px solid black;
    font-family: typography.$header-cardfont;
    font-size: 20px;
    margin-top:20px;
    font-size: 20px;
    border-radius: 10px;
    

    &__submit {
        background-color: rgb(70, 187, 70);
        margin-left:200px;;
    }
    &__clear {
        background-color: rgb(236, 236, 84);
    }
    &:hover {
        box-shadow: 2px 2px 5px palette.$light-purple;
        cursor:pointer;
      }
  }

  .contactbox {
    
    &__end-para {
      font-family: typography.$header-cardfont;
      text-align: center;
      font-weight: bold;
    }
  }
  
// Projects Page Cards

  .ultra-box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width:1900px;  

   }


  .bigbox1 {
    @include mixins.bigbox;
    margin-left:50px;
    
  }
  
  .littlebox1 {
    @include mixins.littlebox;

  }

  .bigbox2 {
    @include mixins.bigbox;

  }
  
  .littlebox2 {
    @include mixins.littlebox;
  }

  .bigbox3 {
    @include mixins.bigbox;
      
  }
  
  .littlebox3 {
    @include mixins.littlebox;
  }
  
  .bigbox4 {
    @include mixins.bigbox;
   
  }
  
  .littlebox4 {
    @include mixins.littlebox;
  }

// About Me 

.about-info {
    display: flex;
    justify-content:center;
    align-items:center;
    height:600px;
    width:1900px;

    &--wordbox {
      flex-direction: column;
      padding-left: 80px;
      padding-right: 80px;
      text-align: center;
    }

    &--para {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-family: typography.$header-cardfont;
      ;
    }
}

.dragon-image {
  display: flex;
  justify-content: space-around;
  margin-left: 300px;
  margin-top: 130px;
}

//Skills Page
 
.transparent-box {
  background-color:rgb(148, 5, 148, 0.2);
  height: 42vw;
  width: 80vw;
  margin:auto;
  border-radius: 10px;
}

.skills-list {
  height: 41vw;
  width: 80vw;
  margin:auto;
  box-shadow: none;
    
ul {
  list-style-type: none;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  font-family: typography.$header-cardfont;
  margin:auto;

  li > img {
    height:200px;
    width:180px;
    text-align: center;

    
   }

    }
   }
   
   .text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height:100px;
    background-color: rgb(190, 218, 240);
    padding: 10px;
    box-shadow: 5px 5px palette.$deep-purple;
    border-radius: 10px;
    border: 2px solid black;

   }