@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMICA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
body {
  background-image: url("https://i.imgur.com/GgJ7r1h.png");
}

body > h1 {
  text-align: center;
}

nav {
  margin: 30px;
  box-shadow: 5px 5px rgb(253, 137, 253);
}

nav > ul {
  list-style-type: none;
  border: 3px solid rgb(165, 76, 165);
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > ul > li > a {
  color: rgb(3, 170, 3);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

nav > ul > li > a:hover {
  color: rgb(165, 76, 165);
  text-shadow: 3px 3px 5px purple;
}

.text-type {
  color: rgb(3, 170, 3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  margin-left: 10px;
  font-weight: bold;
}

form > fieldset {
  border: 20px solid rgb(165, 76, 165);
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 5px 5px rgb(253, 137, 253);
}

.btn {
  border: 2px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
}
.btn__submit {
  background-color: rgb(70, 187, 70);
  margin-left: 200px;
}
.btn__clear {
  background-color: rgb(236, 236, 84);
}
.btn:hover {
  background-color: aliceblue;
  box-shadow: 2px 2px 5px rgb(165, 76, 165);
}

.ultra-box {
  display: flex;
  justify-content: space-around;
  height: 800px;
  width: 1900px;
}

.bigbox1 {
  background-color: rgb(130, 175, 211);
  width: 400px;
  height: 700px;
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.bigbox1__project-header {
  color: rgba(143, 30, 143, 0.966);
  font-family: "Libre Baskerville";
}
.bigbox1__desc {
  display: flex;
  text-align: center;
  margin: 8px;
  padding: 8px;
}
.bigbox1:hover {
  box-shadow: 4px 4px 4px rgb(165, 76, 165);
  opacity: 0.9;
}

.littlebox1 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.bigbox2 {
  background-color: rgb(130, 175, 211);
  width: 400px;
  height: 700px;
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.bigbox2__project-header {
  color: rgba(143, 30, 143, 0.966);
  font-family: "Libre Baskerville";
}
.bigbox2__desc {
  display: flex;
  text-align: center;
  margin: 8px;
  padding: 8px;
}
.bigbox2:hover {
  box-shadow: 4px 4px 4px rgb(165, 76, 165);
  opacity: 0.9;
}
.bigbox2:hover {
  box-shadow: 4px 4px 4px rgb(165, 76, 165);
}

.littlebox2 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.bigbox3 {
  background-color: rgb(130, 175, 211);
  width: 400px;
  height: 700px;
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.bigbox3__project-header {
  color: rgba(143, 30, 143, 0.966);
  font-family: "Libre Baskerville";
}
.bigbox3__desc {
  display: flex;
  text-align: center;
  margin: 8px;
  padding: 8px;
}
.bigbox3:hover {
  box-shadow: 4px 4px 4px rgb(165, 76, 165);
  opacity: 0.9;
}
.bigbox3:hover {
  box-shadow: 4px 4px 4px rgb(165, 76, 165);
}

.littlebox3 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.bigbox4 {
  background-color: rgb(130, 175, 211);
  width: 400px;
  height: 700px;
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.bigbox4__project-header {
  color: rgba(143, 30, 143, 0.966);
  font-family: "Libre Baskerville";
}
.bigbox4__desc {
  display: flex;
  text-align: center;
  margin: 8px;
  padding: 8px;
}
.bigbox4:hover {
  box-shadow: 4px 4px 4px rgb(165, 76, 165);
  opacity: 0.9;
}
.bigbox4:hover {
  box-shadow: 4px 4px 4px rgb(165, 76, 165);
}

.littlebox4 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
