@use "./assets/scss-css/mixins";
@use "./assets/scss-css/typography";


$deep-purple:rgb(94, 84, 142);
$light-purple:rgb(166, 145, 194);

$xs:480px;
$sm:768px;
$md:1024px;
$lg:1200px;

body {
  overflow: auto;
  padding: 0;
  margin: 0;
}
html {
    scroll-behavior: smooth;
    overflow: auto;
}

//Home Page

.home-title {
    @include typography.home-body(150px);
    margin-top: 20vh;  
    letter-spacing:8px; 
    transition:.6s;
    position: relative;
    
    @media only screen and (max-width:$xs) { 
     font-size: 90px;  
     padding: 70px 0;
     margin-top: 5vh;
   }

   @media only screen and (max-width: 611px) {
    font-size: 90px;
    }

   }
   .home-title:before, .home-title:after{
    content:attr(data-text);
    transition:.6s;
   }
   
   .home-title:before {
    right: 0;
    top: 0;
    position: absolute;
    z-index:-1;
    text-shadow:
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px;
    -webkit-mask:repeating-linear-gradient(45deg, transparent 0 3px, rgba(0,0,0,0.5) 0 6px);
            mask:repeating-linear-gradient(45deg, transparent 0 3px, rgba(0,0,0,0.5) 0 6px);
  }


  .home-title:hover {
    transform:translate(-10px,-10px);
  } 

  .home-title:hover:before {
    text-shadow:
     1px 1px,
     2px 2px,
     3px 3px,
     4px 4px,
     5px 5px,
     6px 6px,
     7px 7px,
     8px 8px,
     9px 9px,
     10px 10px;
  }
   
   .home-subheader {
     @include typography.home-body(50px);
     
   }

#index {
    @include mixins.main-backgrounds ();
}


// About Me Page

.about-info {
    display: flex;
    justify-content:center;
    align-items:center;
    height:60vh;
    width:90vw;
    margin-top: 12vh;


    &--wordbox {
      flex-direction: column;
      padding-left: 5vw;
      padding-right: 5vw;
      text-align: center;
    
      @media only screen and (max-width: $xs) {
        margin: 30vh 3vw 6vh 9vw; 
        }
    }

    @media only screen and (max-width: 1380px){
      font-size: 12px;
  }

    &--para {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-family: typography.$header-cardfont;
      
    }
}

.self-image {
  margin-left: 20vw;
  margin-top: 18vh;
  width: 550px;
  height: 500px;
  border-radius: 10px;


  @media only screen and (max-width: $xs) {
    display:none;
    }
    @media only screen and (min-width: ($xs + 1px)) and (max-width:$sm) { 
        display:none;
      }
      @media only screen and (min-width: ($sm + 1px)) and (max-width:$md) { 
        width:300px;
        height:300px;
        margin: 60vh 0vw 50vh 10vw;
      }
      @media only screen and (min-width: ($md + 1px)) and (max-width:$lg) { 
        width:400px;
        height:400px;
        margin: 60vh 0vw 50vh 10vw;
      }
}

#aboutme {
    @include mixins.main-backgrounds ();

}

//Skills Page
 
.transparent-box {
    background-color:rgb(148, 5, 148, 0.2);
    height: 81vh;
    width: 78vw;
    margin: 10vh 10vw 10vh 11vw;
    border-radius: 10px;

    @include mixins.phone-landscape;
  }
  
  .skills-list {
    display: flex;
    justify-content: center;
    height: 83vh;
    width: 80vw;    
    padding-left: 3vw;
    @media only screen and (max-width: 1040px) {
      height: 50vh;

      }
      
  ul {
    list-style-type: none;
    height: 83vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    font-family: typography.$header-cardfont;

    @media only screen and (max-width: 1040px) {
      grid-template-columns: 1fr 1fr;
      height: 75vh;

      }
  
    @include mixins.phone-landscape;

  
  
    li > img {
      height:200px;
      width:180px;
      padding-right: 8vw;
      
      @media only screen and (max-width: $xs) {
        height:150px;
      width:130px;
        }

        @media only screen and (max-width: 1040px) {
          height: 100px;
          width: 100px;
          }
     }
  
     #icon{
      height:200px;
      width:200px;

      @media only screen and (max-width: 1040px) {
        height: 100px;
        width: 100px;
        }
     }

     #iconj {
      width: 150px;
      @media only screen and (max-width: 1040px) {
        height: 100px;
        width: 90px;
        }
     }

      }
     }
     
     .text-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33vw;
      height:100px;
      background-color: rgb(190, 218, 240);
      padding: 10px;
      box-shadow: 5px 5px $deep-purple;
      border-radius: 10px;
      border: 2px solid black;
      @include mixins.phone-landscape;
  
     }
#skills {

    @include mixins.main-backgrounds ();
}

// Projects Page Cards

.ultra-box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width:100%;  
    margin: 10vh 0vw 10vh 0vw;
    height:fit-content;
    
    @media only screen and (max-width: $xs) {
        grid-template-columns: 1fr;
      width:70vw;
      margin: 10vh 10vw 10vh 12vw;
        }
    
        @media only screen and (min-width: ($xs + 1px)) and (max-width:$sm) { 
        grid-template-columns: 1fr;
      width:70vw;
      }


        @media only screen and (min-width: ($sm + 1px)) and (max-width:$lg) { 
    grid-template-columns: 1fr 1fr;
    width:100%;
    margin-left: 5vw;
  }

   }


  .bigbox {
    @include mixins.bigbox;
    margin-left:50px;

    @media only screen and (max-width: $xs) {
        grid-template-columns: 1fr;
      width:50vw;
      height: 80vw;

        }

    @media only screen and (min-width: ($xs + 1px)) and (max-width:$sm) { 
       flex-direction: column;
      width: 52vw;
      height: 60vh;
      margin-left: 30vw;
      }
 
    @media only screen and (min-width: ($sm + 1px)) and (max-width:$md) { 
      width: 32vw;
      height: 65vh;
      margin:none;
  }
    @media only screen and (min-width: ($md + 1px)) and (max-width:$lg) { 
    width: 32vw;
    height: 65vh;
    margin:none;
}

    
    &__desc {
        @media only screen and (max-width: $xs){
        font-size: 10px;
    }

  }
}
  .littlebox {
    @include mixins.littlebox;
    @media only screen and (max-width: 900px) {
      width: 30vw;
      height: 30vw;
  }
  @media only screen and (min-width: ($sm + 1px)) and (max-width:$md) { 
    width: 28vw;
    height: 28vh;
}
  }

.contact-links {
  text-decoration: none;
  color: black;
  font-family: 'Libre Baskerville';
  @media only screen and (max-width: $xs){
    font-size: 12px;
}
}

  
#projects {
    @include mixins.main-backgrounds;
   
}

// Contact Form

.contact-heading{
  width:100vw;
  height:7vh;
  justify-content: center;
  display: flex;
  font-family: typography.$header-cardfont;
  font-size: 1rem;
  text-align: center;

  @media only screen and (max-width:760px) { 
    font-size: 0.7rem;  
  }
  @media only screen and (max-width:540px) { 
    font-size: 0.6rem;  
  }

}

.text-type {
    font-family: typography.$header-cardfont;
    font-weight: bolder;
    padding:8px;
    margin-left:10px;
    
  }

  form > fieldset {
    border:20px solid $deep-purple;
    border-radius: 10px;
    margin: 0vh 10vw 0vh 10vw;
    box-shadow: 5px 5px rgb(253, 137, 253);
    
  }
  .btn {
    border: 2px solid black;
    font-family: typography.$header-cardfont;
    font-size: 20px;
    margin-top:20px;
    font-size: 20px;
    border-radius: 10px;
    

    &__submit {
        background-color: rgb(70, 187, 70);
        margin-left:200px;;
    }
    &__clear {
        background-color: rgb(236, 236, 84);
    }
    &:hover {
        box-shadow: 2px 2px 5px $light-purple;
        cursor:pointer;
        transform: scale(1.07);
      }
  }

  .contactbox {
        margin: 18vh 0vw 10vh 0vw;

    &__end-para {
      font-family: typography.$header-cardfont;
      text-align: center;
      font-weight: bold;
      margin-bottom: 50px;

    }
  }
  
#contact {
    @include mixins.main-backgrounds ();
}



// Top Navigation Bar
.nav-bar {
    box-shadow: 5px 5px $light-purple;
    border-radius: 10px;
    position: fixed;
    width: 90vw;
    overflow: hidden;
    top: 0;
    margin: 2vh 5vw 2vh 5vw;
    background-color: rgba(245, 245, 245, 0.904);
         
    @media only screen and (max-width:600px) { 
      margin:10px;  
    }

    }
    
    .nav-bar > ul {
    list-style-type:none;
    border: 3px solid $deep-purple;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
      padding:0px;
      margin:0px;
    }
    
    .nav-bar > ul > li > a {
    text-decoration: none;
    font-family: typography.$header-cardfont;
    font-size: 20px;
    font-weight: bold;
    color:black;
    display: inline-block;

      &:hover {
        color: $deep-purple;
        text-shadow: 3px 3px 5px $light-purple;
        transition: 0.3s;
        transform: scale(1.2);
      }

    @media only screen and (max-width:600px) { 
      font-size: 12px;  
    }    
    }
    


   // Footer Styles (Universal)
    .footer {
    border:2px solid $deep-purple;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 5%;
    background-color: rgb(166, 145, 194);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: typography.$header-cardfont;
    @media only screen and (max-width:600px) { 
      display:none;
    }
  }

  .footer-flex {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 40px;
    @include mixins.phone-landscape;

      &--icons {
        height: 40px;
        width:40px;

        &:hover {
          cursor:pointer;
          opacity:0.7;
        }
      }

  }