@use "./palette";
@use "./typography";
@use "./mixins";

body {
  background-image: url("assets/img/background.png");

}


//Home Page

.home-title {
 @include typography.home-body(200px);
 @media only screen and (max-width:600px) { 
  font-size: 70px;  
  padding: 70px 0;
}
}

body > h2 {
  @include typography.home-body(50px);
  
}

// Top Navigation Bar
.nav-bar {
    margin: 30px;
    box-shadow: 5px 5px palette.$light-purple;
    border-radius: 10px;
    
    @media only screen and (max-width:600px) { 
      margin:10px;  
    }

    }
    
    .nav-bar > ul {
    list-style-type:none;
    border: 3px solid palette.$deep-purple;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
      padding:0px;
    }
    
    .nav-bar > ul > li > a {
    text-decoration: none;
    font-family: typography.$header-cardfont;
    font-size: 20px;
    font-weight: bold;
    color:black;
    @media only screen and (max-width:600px) { 
      font-size: 12px;  
    }    
    }
    
    .nav-bar > ul > li > a:hover {
    color: palette.$deep-purple;
    text-shadow: 3px 3px 5px palette.$light-purple;
    }
    

    // Contact Form
.text-type {
    font-family: typography.$header-cardfont;
    font-weight: bolder;
    padding:8px;
    margin-left:10px;
    
  }

  form > fieldset {
    border:20px solid palette.$deep-purple;
    border-radius: 10px;
    margin-left:200px;
    margin-right:200px;
    box-shadow: 5px 5px rgb(253, 137, 253);
    
  }
  .btn {
    border: 2px solid black;
    font-family: typography.$header-cardfont;
    font-size: 20px;
    margin-top:20px;
    font-size: 20px;
    border-radius: 10px;
    

    &__submit {
        background-color: rgb(70, 187, 70);
        margin-left:200px;;
    }
    &__clear {
        background-color: rgb(236, 236, 84);
    }
    &:hover {
        box-shadow: 2px 2px 5px palette.$light-purple;
        cursor:pointer;
      }
  }

  .contactbox {
    
    &__end-para {
      font-family: typography.$header-cardfont;
      text-align: center;
      font-weight: bold;
      margin-bottom: 50px;
    }
  }
  


// Projects Page Cards

  .ultra-box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width:1900px;  
    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr;
      width:70vw;
  }

   }


  .bigbox {
    @include mixins.bigbox;
    margin-left:50px;
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      width: 60vw;
      height: 70vh;
      margin-left: 30vw;
  }

    &__project-header {
      @media only screen and (max-width: 900px) {
      font-size: 25px;
  }
      
    }

  }
  
  .littlebox {
    @include mixins.littlebox;
    @media only screen and (max-width: 900px) {
      width: 30vw;
      height: 30vw;
  }
  }

  


// About Me 

.about-info {
    display: flex;
    justify-content:center;
    align-items:center;
    height:600px;
    width:1900px;
    @media only screen and (max-width: 900px) {
      height:70vh;
      width:100vw;
  }

    &--wordbox {
      flex-direction: column;
      padding-left: 80px;
      padding-right: 80px;
      text-align: center;

      
    }

    &--para {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-family: typography.$header-cardfont;
      
    }
}

.dragon-image {
  display: flex;
  justify-content: space-around;
  margin-left: 300px;
  margin-top: 130px;
  @media only screen and (max-width: 900px) {
    display:none;
    @include mixins.phone-landscape;
}
}

//Skills Page
 
.transparent-box {
  background-color:rgb(148, 5, 148, 0.2);
  height: 83vh;
  width: 80vw;
  margin:auto;
  border-radius: 10px;
  margin-bottom: 100px;
  @include mixins.phone-landscape;
}

.skills-list {
  height: 83vh;
  width: 80vw;
  
    
ul {
  list-style-type: none;
  height: 83vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  font-family: typography.$header-cardfont;

  @include mixins.phone-landscape;

  li > img {
    height:200px;
    width:180px;
    text-align: center;

    
   }

    }
   }
   
   .text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height:100px;
    background-color: rgb(190, 218, 240);
    padding: 10px;
    box-shadow: 5px 5px palette.$deep-purple;
    border-radius: 10px;
    border: 2px solid black;
    @include mixins.phone-landscape;

   }

   // Footer Styles (Universal)
    .footer {
    border:2px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 5%;
    background-color: palette.$light-purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: typography.$header-cardfont;
    @media only screen and (max-width:600px) { 
      display:none;
    }
  }

  .footer-flex {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 40px;
    @include mixins.phone-landscape;

      &--icons {
        height: 40px;
        width:40px;

        &:hover {
          cursor:pointer;
          opacity:0.7;
        }
      }

  }